<!-- Bootstrap Icons CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
      
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand fw-bold" href="./">Tutor Finder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto" id="navbarList">
      <a id="admin-pannel-btn" class="btn btn-primary d-none" href="#">Action</a> <!-- Button's ID set to actionButton -->
        
        <li class="nav-item" >
          <div class="d-flex align-items-center justify-content-center font-weight-bold">
            <a class="nav-link btn d-none text-black" id="userNameLink" href="../profile.html"></a>
        </div>
        
        </li>
                
        <li class="nav-item" id="login-link">
          <a class="nav-link link-primary btn text-decoration-underline" id="login-btn" href="login.html"> Register Account </a>
        </li>

        <li class="nav-item" id="logout-li">
          <a class="nav-link link-danger btn"  id="logout-btn">Sign Out </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
