<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="../index.html">Tutor Finder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-secondary btn d-none" id="userNameLink"></a>
        </li>
        <li class="nav-item" id="login-link">
          <a class="nav-link text-secondary btn" id="login-btn" href="login.html">Login</a>
        </li>
        <li class="nav-item" id="signup-link">
          <a class="nav-link text-primary btn" id="register-btn" href="signup.html">Sign Up</a>
        </li>
        <li class="nav-item" id="logout-li">
          <a class="nav-link text-danger btn"  id="logout-btn">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
