<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Add Post</title>
  <link rel="stylesheet" href="../css/login.css">
</head>

<body>
  <div id="navbarContainer"></div>
  <div class="container">
    <div class="row m-5">
      <h1>Create Post</h1>
      <div class="col-xs-12 col-lg-6 col-xl-5 order-lg-2 order-sm-1">
        <form id="postForm" class="needs-validation" novalidate>
          <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" class="form-control form-control-sm" id="subject" aria-describedby="emailHelp" required>
            <div class="invalid-feedback">Please provide a subject.</div>
          </div>
          <div class="mb-3">
            <label for="class" class="form-label">Class</label>
            <input type="text" class="form-control form-control-sm" id="class" aria-describedby="emailHelp" required>
            <div class="invalid-feedback">Please provide a class.</div>
          </div>
          <div class="mb-3">
            <label for="medium" class="form-label">Medium</label>
            <input type="text" class="form-control form-control-sm" id="medium" aria-describedby="emailHelp" required>
            <div class="invalid-feedback">Please provide a medium.</div>
          </div>
          <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input type="text" class="form-control form-control-sm" id="salary" aria-describedby="emailHelp" required>
            <div class="invalid-feedback">Please provide a salary.</div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control form-control-sm" id="location" aria-describedby="emailHelp" required>
            <div class="invalid-feedback">Please provide a location.</div>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control form-control-sm" id="phone" aria-describedby="emailHelp" required>
            <div class="invalid-feedback">Please provide a phone number.</div>
          </div>
          <div class="mb-3">
            <label for="prefered_university" class="form-label">Preferred University</label>
            <input type="text" class="form-control form-control-sm" id="prefered_university" aria-describedby="emailHelp">
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>

      <div class="col-xs-12 col-lg-6 col-xl-7 order-lg-1 order-sm-2 mt-5 mt-lg-0">
        <div class="image-container">
          <img src="https://epe.brightspotcdn.com/6f/a8/c2f05ace44a9a09cc53392bbf41f/10-tutor-101221-1259958507.jpg"
            alt="">
        </div>
      </div>
      <script>
        document.getElementById('postForm').addEventListener('submit', function (event) {
          event.preventDefault();
          if (!this.checkValidity()) {
            event.stopPropagation();
            this.classList.add('was-validated');
            return;
          }

          const subject = document.getElementById('subject').value;
          const standard = document.getElementById('class').value;
          const medium = document.getElementById('medium').value;
          const salary = document.getElementById('salary').value;
          const prefered_university = document.getElementById('prefered_university').value;
          const location = document.getElementById('location').value;
          const phone = document.getElementById('phone').value;

          const data = {
            subject,
            medium,
            salary,
            prefered_university,
            class: standard,
            location,
            phone
          };

          const options = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
          };

          fetch('http://localhost:2003/feeds', options)
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              console.log(response.status, '<----- status')
              return response.json();
            })
            .then(data => {
              console.log('response->>>>>>', data)
              if (data.success) {
                console.log('redirect to index.html');
                // Redirect to index.html or do something else
              }
            })
            .catch(error => {
              console.error('There was a problem with the fetch operation:', error);
            });
        });
      </script>
    </div>
  </div>
  <div id="footerContainer"></div>
  <script src="../js//navbar.js"></script>
  <script src="../js/footer.js"></script>
</body>

</html>
